
[data-css="css_1789800329"] {color:var(--color-light-freeze) !important;
}

[data-css="css_132548536"] {font-size:16px !important;
color:var(--color-gray3-freeze) !important;
}
[data-css="css_1947847842"] {color:var(--color-gray1) !important;
}





































































































