
[data-css="css_1789800329"] {color:var(--color-light-freeze) !important;
}

[data-css="css_2342661455"] {color:var(--color-light-freeze) !important;
font-size:16px !important;
}
[data-css="css_1789800329"] {color:var(--color-light-freeze) !important;
}





















































[data-css="css_1904453616"] {color:rgba(234,25,104,1) !important;
font-weight:700 !important;
font-family:var(--font-secondary) !important;
}




[data-css="css_3145455800"] {color:var(--color-dark-freeze) !important;
font-weight:500 !important;
font-family:var(--font-primary) !important;
}




[data-css="css_3594572775"] {color:var(--color-dark) !important;
font-weight:500 !important;
font-family:var(--font-primary) !important;
}









[data-css="css_1080479394"] {background-color:var(--color-dark-freeze) !important;
color:var(--color-light-freeze) !important;
border-radius:15px !important;
}




[data-css="css_3860402193"] {color:var(--color-dark-freeze) !important;
font-weight:400 !important;
text-transform:capitalize !important;
}






















