
[data-css="css_1789800329"] {color:var(--color-light-freeze) !important;
}

[data-css="css_2342661455"] {color:var(--color-light-freeze) !important;
font-size:16px !important;
}
[data-css="css_1789800329"] {color:var(--color-light-freeze) !important;
}







