
[data-css="css_3702761777"] {font-size: clamp(104px, 10.5vw + 62px, 188px) !important;
line-height:1 !important;
}



[data-css="css_791548082"] {font-size: clamp(38.5px, 2.3125vw + 29.25px, 57px) !important;
}


[data-css="css_1647087596"] {font-size: clamp(20.5px, 0.5625vw + 18.25px, 25px) !important;
}







[data-css="css_173032108"] {background-color:rgba(64,145,102,1) !important;
}
